body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.header {
    position: sticky;
    top:0;
    background-color: #111;
    color: white;
    z-index: 1000;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 40px;
}
.search-bar {
    display: flex;
    gap: 10px;
}
.search-bar input {
    padding: 8px 12px;
    border-radius: 4px;
    border: none;
    outline: none;
}
.search-bar button {
    padding: 8px 14px;
    border: none;
    border-radius: 4px;
    background: #ff4b2b;
    color: white;
    cursor: pointer;
}
.search-bar button:hover {
    background: #ff2e00;
}
.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 2rem;
}

.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.2s ease;
}

.card:hover {
    transform: scale(1.03);
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 6px;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    background: #111;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.btn:hover {
    background: #333;
}
.artist-body .header {
    padding: 3px 10px;
}
.artist-page {
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}
.artist-card {
    background:white;
    width: 450px;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
}
.artist-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}
.artist-card h2 {
    margin: 10px 0;
    font-size: 24px;
}
.artist-card ul {
    list-style: none;
    padding: 0%;
}
.artist-card li{
    background-color: #f4f4f4;
    margin: 6px 0;
    padding: 6px;
    border-radius: 5px;
}
.artist-card .btn {
    margin-top: 20px;
}