<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Groupie Tracker</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <header class="header">
        <div class="header-container">
            <h1>Groupie Tracker</h1>
        <h4>Discover Artists & Concert Information</h4>

        <form action="/search" method="GET" class="search-bar">
            <input type="text" name="search" placeholder="Search artists..." />
            <button type="submit"><Search></Search></button>
        </form>
        </div>
    </header>

   <main class="cards-container">
        {{range .Artists}}
        <div class="card">
            <img src="{{.Image}}" alt="{{.Name}}">
            <h2>{{.Name}}</h2>
            <p><strong>Formed:</strong> {{.CreationDate}}</p>
            <p><strong>First Album:</strong> {{.FirstAlbum}}</p>
            <a href="/artist?id={{.ID}}" class="btn">View Details</a>
        </div>
        {{end}}
    </main>
</body>
</html>