<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Groupie Tracker</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <header class="header">
        <div class="header-container">
            <h1>Groupie Tracker</h1>
        <h4>Discover Artists & Concert Information</h4>

        <form action="/search" method="GET" class="search-bar">
            <input type="text" name="search" placeholder="Search artists..." />
            <button type="submit">Search</button>
        </form>
        </div>
    </header>
    <form method="GET" action="/" class="filters">
        <h3>Filter Artists</h3>
        <!-- Creation Date Range -->
         <div>
            <label>Creation Date:</label>
            <input type="number" name="minCreation" placeholder="From (e.g 1980)">
            <input type="number" name="maxCreation" placeholder="To (e.g 2000)">
         </div>
         <!--First Album Year-->
         <div>
            <label>First Album Year:</label>
            <input type="number" name="minAlbum" placeholder="From">
            <input type="number" name="maxAlbum" placeholder="To">
         </div>
         <!--Members Checkbox-->
         <div>
            <p>Number of Members</p>
            <label>
                <input type="checkbox" name="members" value="1"> 1
            </label>
            <label>
                <input type="checkbox" name="members" value="2"> 2
            </label>
            <label>
                <input type="checkbox" name="members" value="2"> 3
            </label>
            <label>
                <input type="checkbox" name="members" value="2"> 4
            </label>
            <label>
                <input type="checkbox" name="members" value="2"> 5+
            </label>
         </div>
         <!--Location Checkbox-->
         <div>
            <p>Location</p>
            <label>
            <label type="checkbox" name="location" value="usa"> USA
            </label>
            <label>
            <label type="checkbox" name="location" value="usa"> UK
            </label>
            <label>
            <label type="checkbox" name="location" value="usa"> France
            </label>
         </div>
         <button type="submit">Apply Filter</button>
    </form>
   <main class="cards-container">
        {{range .}}
        <div class="card">
            <img src="{{.Image}}" alt="{{.Name}}">
            <h2>{{.Name}}</h2>
            <p><strong>Formed:</strong> {{.CreationDate}}</p>
            <p><strong>First Album:</strong> {{.FirstAlbum}}</p>
            <a href="/artist?id={{.ID}}" class="btn">View Details</a>
        </div>
        {{end}}
    </main>
</body>
</html>